@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	@apply text-gray-300;
}



/* Firefox */
*::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.gradient-border {

	background: linear-gradient(180deg, #0A0E12 0%, #15222C 100%) padding-box,
		linear-gradient(140deg, #FFFFFF00 60%, #32393e 100%) border-box,
		linear-gradient(300deg, #FFFFFF00 60%, #32393e 100%) border-box;

	border-radius: 10px;
	border: 1.5px solid transparent;
}

.gradient-border-2 {

	background: linear-gradient(180deg, #0F1921 0%, #0F1921 100%) padding-box,
		linear-gradient(140deg, #FFFFFF00 60%, #32393e 100%) border-box,
		linear-gradient(300deg, #FFFFFF00 60%, #32393e 100%) border-box;

	border-radius: 10px;
	border: 1.5px solid transparent;
}


.loader {
	position: relative;
	width: 120px;
	height: 90px;
	margin: 0 auto;
  }
  .loader:before {
	content: "";
	position: absolute;
	bottom: 30px;
	left: 50px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #9BECE3;
	animation: loading-bounce 0.5s ease-in-out infinite alternate;
  }
  .loader:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 7px;
	width: 45px;
	border-radius: 4px;
	box-shadow: 0 5px 0 #fff, -35px 50px 0 #fff, -70px 95px 0 #fff;
	animation: loading-step 1s ease-in-out infinite;
  }

  @keyframes loading-bounce {
	0% { transform: scale(1, 0.7)}
	40% { transform: scale(0.8, 1.2)}
	60% { transform: scale(1, 1)}
	100% { bottom: 140px }
  }
  @keyframes loading-step {
	0% {
	  box-shadow: 0 10px 0 rgba(0,0,0,0),
				  0 10px 0 #fff,
				-35px 50px 0 #fff,
				-70px 90px 0 #fff;
	}
	100% {
	  box-shadow: 0 10px 0 #fff,
				-35px 50px 0 #fff,
				-70px 90px 0 #fff,
				-70px 90px 0 rgba(0,0,0,0);
	}
  }
